#**Data Types And Structures**

1. What are data structures, and why are they important?

- Data structures are ways to organize, store, and manage data efficiently for various operations like accessing, modifying, and processing.
- they are important as:
Efficiency: Enable faster data access and operations.
Optimization: Reduce time and space complexity.
Scalability: Handle large datasets effectively.
Problem Solving: Tailored solutions for specific problems (e.g., graphs for networks, trees for hierarchies).
Foundational: Essential for algorithms and real-world applications like databases and operating systems.

2. Explain the difference between mutable and immutable data types with examples

- Mutable data types can be changed after creation, meaning the same object is modified. Examples include lists, dictionaries, and sets. For instance:

- Immutable data types cannot be changed after creation. Any modification creates a new object. Examples include strings, tuples, and numbers.

3. What are the main differences between lists and tuples in Python?
- Main Differences Between Lists and Tuples in Python
Mutability:

**Lists** are mutable, meaning you can modify their elements (e.g., add, remove, or change values).

**Tuples**  are immutable, so once created, their elements cannot be changed

4.Describe how dictionaries store data
- Dictionaries store data as **key-value pairs** using a **hash table**. Keys are hashed to determine their storage location, allowing for fast lookups, insertions, and deletions (average **O(1)** complexity). Keys must be unique and hashable, while values can be any data type.

5. Why might you use a set instead of a list in Python
- Use a set instead of a list when you need unique elements, fast membership testing , or efficient set operations (e.g., union, intersection). Sets are unordered and automatically remove duplicates.

6.What is a string in Python, and how is it different from a list?
- A string is an immutable sequence of characters, while a list is a mutable collection of elements that can be of any type. Strings are for text, and lists are for storing multiple data items.

7. How do tuples ensure data integrity in Python?
- Tuples ensure data integrity in Python by being **immutable**, meaning their elements cannot be changed, added, or removed after creation. This immutability prevents accidental modifications, making tuples ideal for storing constant or fixed data, ensuring consistency and reliability.

8. What is a hash table, and how does it relate to dictionaries in Python?
 -  A **hash table** is a data structure that stores key-value pairs and uses a **hash function** to compute an index (or hash) where the value is stored. This allows for efficient **O(1)** average-time complexity for lookups, insertions, and deletions.

- In Python, **dictionaries** are implemented using hash tables. When you add a key-value pair to a dictionary, Python computes the hash of the key and stores the pair at the corresponding index. This makes dictionaries fast for searching and updating values based on their keys.

9.Can lists contain different data types in Python?
- Yes, lists in Python can contain elements of different data types. A single list can store integers, strings, floats, and even other lists or objects.

10. Explain why strings are immutable in Python?
- Strings are immutable in Python to ensure **data integrity**, improve **performance**, and make them **hashable** for use as dictionary keys. Immutability also makes strings **thread-safe** and consistent throughout their lifetime.

11.What advantages do dictionaries offer over lists for certain tasks?
- Dictionaries offer **faster lookups** (O(1) time), store **key-value pairs**, ensure **unique keys**, and provide **efficient updates** compared to lists, making them ideal for fast data retrieval and mapping.

12.Describe a scenario where using a tuple would be preferable over a list
- Using a **tuple** would be preferable over a **list** when you need to store **immutable** data that shouldn't be changed, such as coordinates or fixed configuration values. For example, storing GPS coordinates `(latitude, longitude)` in a tuple ensures the values cannot be accidentally modified, providing data integrity.

13.How do sets handle duplicate values in Python?
- Sets automatically **remove duplicate values** in Python. When you try to add a duplicate element to a set, it simply ignores it, ensuring that each element in a set is unique.

14. How does the “in” keyword work differently for lists and dictionaries
- In **lists**, `in` checks for **values**, while in **dictionaries**, `in` checks for **keys**.

15.Can you modify the elements of a tuple? Explain why or why not?
- No, you cannot modify the elements of a **tuple** because tuples are **immutable** in Python. Once a tuple is created, its elements cannot be changed, added, or removed. This immutability ensures data integrity and allows tuples to be used as keys in dictionaries.

16. What is a nested dictionary, and give an example of its use case?
- A nested dictionary is a dictionary where the value associated with a key is another dictionary. This allows for hierarchical or complex data structures.
  - example
  
  employee =
   {
    "John": {"age": 30, "position": "Manager"},
    "Alice": {"age": 25, "position": "Developer"}
}

17. Describe the time complexity of accessing elements in a dictionary
- The time complexity of accessing elements in a **dictionary** is **O(1)** on average. This is because dictionaries use a **hash table** to store key-value pairs, allowing for direct access to values based on their keys. However, in rare cases (e.g., hash collisions), it may degrade to **O(n)**, but this is typically not common.

18. In what situations are lists preferred over dictionaries?
- Lists are preferred over dictionaries when the order matters, when accessing data by position, for homogeneous data, or when the data size is dynamic.

19.Why are dictionaries considered unordered, and how does that affect data retrieval?
- Dictionaries are considered unordered because the order of key-value pairs is not guaranteed, as they are stored using a hash table. The internal structure focuses on fast access by key, not maintaining the order of insertion.

20.Explain the difference between a list and a dictionary in terms of data retrieval.
- The main difference between a list and a dictionary in terms of data retrieval is how they access data:

List:
Access data by index (position in the list).
Retrieval time is O(1) if the index is known, but searching for an element requires O(n) time.


Dictionary:
Access data by key.
Retrieval time is O(1) on average due to the hash table implementation, making it much faster for looking up values by key compared to lists.

#**Practical Question **

1. Write a code to create a string with your name and print it

In [ ]:
name = "Sudhir Singh"
print(name)

2. Write a code to find the length of the string "Hello World"

In [ ]:

string = "Hello World"
length = len(string)
print(length)

11

3.Write a code to slice the first 3 characters from the string "Python Programming"

In [ ]:
string = "Python Programming"
sliced_string = string[:3]
print(sliced_string)

Pyt

4.Write a code to convert the string "hello" to uppercase

In [ ]:
string = "hello"
uppercase_string = string.upper()
print(uppercase_string)

HELLO

5. Write a code to convert the string "hello" to uppercase

In [ ]:
tring = "hello"
uppercase_string = string.upper()
print(uppercase_string)

HELLO

6.. Write a code to create a list with numbers 1 to 5 and print it

In [ ]:

my_list = [1, 2, 3, 4, 5]
print(my_list)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4]

In [ ]:
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [ ]:
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

9.Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [ ]:
my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
print(second_element)

b

10. Write a code to reverse the list [10, 20, 30, 40, 50]

In [ ]:
my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

11.Write a code to create a tuple with the elements 10, 20, 30 and print it

In [ ]:


my_tuple = (10, 20, 30)
my_tuple

(10, 20, 30)

12. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry')

In [ ]:


my_tuple = ('apple', 'banana', 'cherry')
first_element = my_tuple[0]
first_element

'apple'

13.Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2)

In [ ]:


my_tuple = (1, 2, 3, 2, 4, 2)
count = my_tuple.count(2)
count

3

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:


my_tuple = ('dog', 'cat', 'rabbit')
index = my_tuple.index('cat')
index

1

15.Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [ ]:
my_tuple = ('apple', 'orange', 'banana')

if 'banana' in my_tuple:
    print("Banana is in the tuple")
else:
    print("Banana is not in the tuple")

Banana is in the tuple

16. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [ ]:


my_set = {1, 2, 3, 4, 5}
my_set

{1, 2, 3, 4, 5}

17. Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [ ]:


my_set = {1, 2, 3, 4}
my_set.add(6)
my_set

{1, 2, 3, 4, 6}

18. Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [ ]:


my_tuple = (10, 20, 30)
my_tuple

(10, 20, 30)

19. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [ ]:

my_tuple = ('apple', 'banana', 'cherry')
first_element = my_tuple[0]
first_element

'apple'

20. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2)

In [ ]:

my_tuple = (1, 2, 3, 2, 4, 2)
count = my_tuple.count(2)
count

3

21. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:

my_tuple = ('dog', 'cat', 'rabbit')
index = my_tuple.index('cat')
index

1

22. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [ ]:

my_tuple = ('apple', 'orange', 'banana')

if 'banana' in my_tuple:
    print("Banana is in the tuple")
else:
    print("Banana is not in the tuple")

Banana is in the tuple

23. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it

In [ ]:

my_set = {1, 2, 3, 4, 5}
my_set

{1, 2, 3, 4, 5}

24.Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [ ]:

my_set = {1, 2, 3, 4}
my_set.add(6)
my_set

{1, 2, 3, 4, 6}